<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <title>Sửa thông tin nguồn lực</title>
  </head>
  <body>
    <%- include('menu.ejs') %>
    <!-- Nguồn lực -->
    <div class="container mt-5">
      <h2>Sửa thông tin nguồn lực</h2>
      <form action="/editp-NguonLuc" method="post">
        <div class="form-group">
          <label for="TNL_input">Tên nguồn lực:</label>
          <input
            type="text"
            class="form-control"
            name="TNL_input"
            value="<%= nguonluc.tenNguonLuc %>" />
        </div>
       
        <div class="form-group">
          <label for="LNL_input">Loại nguồn lực:</label>
          <input
            type="text"
            class="form-control"
            name="LNL_input"
            value="<%= nguonluc.loaiNguonLuc %>"/>
        </div>
        <div class="form-group">
          <label for="MTNL_input">Mô tả nguồn lực:</label>
          <input
            type="text"
            class="form-control"
            name="MTNL_input"
            value="<%= nguonluc.moTaNguonLuc %>" />
        </div>
        <div class="form-group">
          <label for="KNNL_input">Khả năng nguồn lực:</label>
          <input
          type="text"
            class="form-control"
            name="KNNL_input"
           value="<%= nguonluc.khaNangNguonLuc %>" ></input>
        </div>
        <div class="form-group">
          <label for="CP_input">Chi phí:</label>
          <input
          type="number"
            class="form-control"
            name="CP_input"
            value="<%= nguonluc.chiPhi %>" ></input>
        </div>
        <div class="form-group">
          <label for="TGSD_input">Thời gian sử dung:</label>
          <input
          type="text"
            class="form-control"
            name="TGSD_input"
             value="<%= nguonluc.thoiGianSuDung %>"></input>
        </div>
         <input name="id"  value="<%= nguonluc.id %> " type="text" hidden>
        <button type="submit" class="btn btn-primary">Sửa</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
